[submodule "awesome-qt"]
	path = Courses/awesome-qt
	url = https://github.com/develooper1994/awesome-qt
[submodule "qt6-core-beginners"]
	path = Courses/qt6-core-intermediate
	url = https://github.com/develooper1994/qt6-core-beginners
[submodule "qt6-core-intermediate"]
	path = Courses/qt6-core-intermediate
	url = https://github.com/develooper1994/qt6-core-intermediate
[submodule "qt6-core-advanced"]
	path = Courses/qt6-core-intermediate
	url = https://github.com/develooper1994/qt6-core-advanced
